<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="initial-scale=1.0, user-scalable=no" />
    <link rel="stylesheet" href="/static/main.css" type="text/css" />
    <script type="text/javascript"
      src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDqubrU5ZLOeVplgi--fxTMCs0zNvNjlEI&sensor=true">
    </script>
    <script type="text/javascript" src="http://google-maps-utility-library-v3.googlecode.com/svn/trunk/markerclusterer/src/markerclusterer.js">
    </script>
    <script type='text/javascript' src='https://www.google.com/jsapi'></script>
    <script type='text/javascript' src="http://code.jquery.com/jquery-1.9.1.min.js"></script>
    <script type='text/javascript' src="http://code.jquery.com/ui/1.10.0/jquery-ui.js"></script>
    <script type='text/javascript' src='/static/knockout-2.2.1.js'></script>
    {% load compress %}
    {% compress js %}
    <script type="text/coffeescript" charset="utf-8" src="/static/utils.coffee" />
    {% endcompress %}
    <script type="text/javascript">
      google.load('visualization', '1', {packages:['table']});
      var map;
      var markersArray;
      var geocoder;
      var infowindow;

      function initialize() {
        var data = {{data|safe}}
        var table_data = new google.visualization.DataTable();
        if(data.show_details){
          table_data.addColumn('date', 'Date');
          table_data.addColumn('string', 'Census '+data.granularity+' ID');
          table_data.addColumn('string', 'Subject');
          table_data.addColumn('string', 'Type');
        }
        else{
          table_data.addColumn('string', 'Block Group ID');
          table_data.addColumn('string', 'Census Tract ID');
          table_data.addColumn('string', 'Neighborhood');
          table_data.addColumn('number', 'Physical Disorder Count');
          table_data.addColumn('number', 'CBG Population');
        }
        var mapOptions = {
          center: new google.maps.LatLng(42.328, -71.060),
          zoom: 12,
          mapTypeId: google.maps.MapTypeId.TERRAIN,
          gridSize: 20
        };
        map = new google.maps.Map(document.getElementById("map_canvas"), mapOptions);
        infowindow = new google.maps.InfoWindow();
        markersArray = new Array();
        var table_rows = new Array();
        geocoder = new google.maps.Geocoder();
        for (var i=0;i<data.locations.length;i++){
          info =  data.locations[i];
          if(info.latitude && info.longitude){
            ll = new google.maps.LatLng(info.latitude, info.longitude, true);
            addMarker(ll, info.date+": "+info.areaid+", "+info.type);
            if(data.show_details){
              table_rows.push([new Date(info.date), info.areaid, info.subject, info.type]);
            }
          }//else if(info.address){
            //codeAddress(info.address)
          //}
        }
        if(data.show_details== false){
          for(var i=0;i<data.neighborhoods.length;i++){
            info = data.neighborhoods[i]
            cbg_url = '<a href="?show_details=True&f_bg_id='+info.bg_id+'">'+info.bg_id+'</a>'
            ct_url = '<a href="?show_details=True&f_ct_id='+info.ct_id+'">'+info.ct_id+'</a>'
            neighborhood_url = '<a href="?show_details=True&f_nsa_name='+info.nsa_name+'">'+info.nsa_name+'</a>'
            table_rows.push([cbg_url, ct_url, neighborhood_url, info.count, info.pop]);
          }
        }
        table_data.addRows(table_rows);
        var mc = new MarkerClusterer(map, markersArray, mapOptions);
        var table = new google.visualization.Table(document.getElementById('table_div'));
        table.draw(table_data, {allowHtml: true, showRowNumber: true, page:true, pageSize:1000});

      }
      function addMarker(location, desc) {
        marker = new google.maps.Marker({
          position: location,
          //map: map,
          //title:desc
        });
        var fn = markerClickFunction(location,desc);
        google.maps.event.addListener(marker, 'click', fn);
        markersArray.push(marker);
      }

      function markerClickFunction(location, desc){
        return function(e){
          var infoHtml = '<div>'+desc+'</div>';
          infowindow.setContent(infoHtml);
          infowindow.setPosition(location);
          infowindow.open(map);
        }
      }

      // Removes the overlays from the map, but keeps them in the array
      function clearOverlays() {
        if (markersArray) {
          for (i in markersArray) {
            markersArray[i].setMap(null);
          }
        }
      }

      // Shows any overlays currently in the array
      function showOverlays() {
        if (markersArray) {
          for (i in markersArray) {
            markersArray[i].setMap(map);
          }
        }
      }

      // Deletes all markers in the array by removing references to them
      function deleteOverlays() {
        if (markersArray) {
          for (i in markersArray) {
            markersArray[i].setMap(null);
          }
          markersArray.length = 0;
        }
      }

      function codeAddress(address) {
        //var address = document.getElementById("address").value;
        geocoder.geocode( { 'address': address}, function(results, status) {
          if (status == google.maps.GeocoderStatus.OK) {
            map.setCenter(results[0].geometry.location);
            var marker = new google.maps.Marker({
                map: map,
                position: results[0].geometry.location
            });
          } else {
            alert("Geocode was not successful for the following reason: " + status);
          }
        });
      }

      function getLatLong(address) {
        var geocoder = new google.maps.Geocoder();
        var result = "";
        geocoder.geocode( { 'address': address}, function(results, status) {
            if (status == google.maps.GeocoderStatus.OK) {
                result[lat] = results[0].geometry.location.Pa;
                result[lng] = results[0].geometry.location.Qa;
            } else {
                result = "Unable to find address: " + status;
            }
            storeResult(result);
        });
      }
      $(function(){
        $('select#valueAA, select#valueBB').selectToUISlider({
          labels: 12
        });
      });
    </script>
  </head>
  <body onload="initialize()">
    <div id="navigation">
    <ul class="drop">
      <li><a href="/boston/crm/">Home</a></li>
      <li><a href="/boston/crm/physical_disorder/">Physical Disorder</a>
        <ul>
          <li><a href="/boston/crm/private/">Private</a>
            <ul>
                <li><a href="/boston/crm/housing/">Housing</a></li>
                <li><a href="/boston/crm/uncivil_use/">Uncivil Use</a></li>
                <li><a href="/boston/crm/big_buildings/">Big Buildings</a></li>
            </ul>
          </li>
          <li><a href="/boston/crm/public">Public</a>
            <ul>
                <li><a href="/boston/crm/graffiti/">Graffiti</a></li>
                <li><a href="/boston/crm/trash/">Trash</a></li>
            </ul>
          </li>
        </ul>
      </li>
       <li><a href="/boston/crm/social_disorder/">Social Disorder</a></li>
    </ul>
    <ul id="nav" class="drop">
      <li>Granularity</a>
        <ul>
          <li><a id="census_tract" href="#">Census Tract</a></li>
          <li><a id="block_group" href="#">Block Group</a></li>
          <li><a id="block" href="#">Block</a></li>
          <li><a id="address" href="#">Address</a></li>
        </ul>
      </li>
    </ul>
  </div>
    <div id="map_canvas"></div>
    <div id='table_div'></div>
  </body>
</html>