<html>
  <head>
    <link rel="stylesheet" href="/static/main.css" type="text/css" />
    <script type="text/javascript" src="https://www.google.com/jsapi"></script>
    <script src="http://code.jquery.com/jquery-1.9.1.min.js"></script>
    {% load compress %}
    {% compress js %}
    <script type="text/coffeescript" charset="utf-8" src="/static/utils.coffee" />
    {% endcompress %}
    <script type="text/javascript">
      google.load("visualization", "1", {packages:["treemap"]});
      google.setOnLoadCallback(drawChart);
      function drawChart() {
        // Create and populate the data table.
        var table_data = {{data|safe}}
        console.log(table_data);
        var data = google.visualization.arrayToDataTable(table_data);

        // Create and draw the visualization.
        var tree = new google.visualization.TreeMap(document.getElementById('chart_div'));
        tree.draw(data, {
          minColor: '#f00',
          midColor: '#ddd',
          maxColor: '#0d0',
          headerHeight: 15,
          fontColor: 'black',
          showScale: true});
        }
    </script>
  </head>

  <body>
    <ul id="navigation" class="drop">
      <li><a href="#">Home</a></li>
      <li><a href="/boston/crm/physical_disorder">Physical Disorder</a>
        <ul>
          <li><a href="/boston/crm/private">Private</a>
            <ul>
                <li><a href="/boston/crm/housing">Housing</a></li>
                <li><a href="/boston/crm/uncivil_use">Uncivil Use</a></li>
                <li><a href="/boston/crm/big_buildings">Big Buildings</a></li>
            </ul>
          </li>
          <li><a href="/boston/crm/public">Public</a>
            <ul>
                <li><a href="/boston/crm/graffiti">Graffiti</a></li>
                <li><a href="/boston/crm/trash">Trash</a></li>
            </ul>
          </li>
        </ul>
      </li>
       <li><a href="/boston/crm/social_disorder">Social Disorder</a>
    </ul>
        <input id="change_map" type="button" value="Change Map">
        <!--<form id="filter" method="post">
          {% csrf_token %}
          <input id="filter_input" type="text" placeholder="Add Filter">
          <input id="save_filter" type="submit" value="Add Filter">
        </form>-->
    </div>
    <div id="chart_div"></div>
  </body>
</html>